<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bounty Hunter</title>
</head>
<body>

<h1 th:text="'Bounty Hunter'">Welcome to Bounty Hunter</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Email</th>
        <th>Power</th>
        <th>Money</th>
        <th>Item</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${hunter.id}">1</td>
        <td th:text="${hunter.login}">Login</td>
        <td th:text="${hunter.email}">login@gmail.com</td>
        <td th:text="${hunter.power}">999</td>
        <td th:text="${hunter.money}">171717</td>
        <td th:each="item:${hunter.usedItems}" th:text="${item.id}"></td>
    </tr>
</table>

</body>
</html>
